body{
	margin:0;
	padding: 0;
}
footer{
	position: fixed;
	bottom: 50px;/*cambiar por 0*/
	height: 70px;
	background: red;
	color: white;
	width: 100%;
}
/*Estilo del footer*/
.contenido-footer{
	height: 100%;
	margin-left: 20%;
}
.contenido-left{
	display: inline-block;
	width: 70%;
	margin: 25px 0;
	padding-right: 5px;
	border-right: 1px solid white;
}
.contenido-rigth{
	position: absolute;
	top: 20px;
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.m0{
	margin: 0;
}
.pb4{
	padding-bottom: 4px;
}